title #{title} - green.sapphi.red
meta(name="description" content="翠のポートフォリオ。")
meta(property="og:title" content=title)
meta(property="og:description" content="翠のポートフォリオ。")
meta(property="og:url" content="https://green.sapphi.red/")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@sapphi_red")
meta(name="og:img" content="https://green.sapphi.red/img/icon.png")
