- var title = "Links"
doctype html
html(lang="ja")
  head
    include /includes/_imports.pug
    include /includes/_ogp.pug
  body
    #container.menu
      #main
        include /includes/_menu.pug
      #content.links
        h1 リンク
        ul
          li
            a(href="https://twitter.com/sapphi_red")
              img(src="/img/Twitter_Logo_Blue.png")
              | Twitter (@sapphi_red)
          li
            a(href="https://github.com/sapphi-red")
              img(src="/img/GitHub-Mark-64px.png")
              | GitHub (sapphi-red)
          li
            a(href="https://qiita.com/sapphi-red")
              img(src="/img/qiita-favicon.png")
              | Qiita (sapphi-red)
          li
            a(href="https://atcoder.jp/users/sapphi_red")
              img(src="/img/AtCoder.png")
              | AtCoder (sapphi_red)
