doctype html
html(lang="ja")
  head
    link(rel="icon" type="image/png" href="/img/icon.png")
    link(rel="stylesheet" href="/main.css")
    script(src="/main.js" defer)
    title Introduction - green.sapphi.red
  body
    #container.menu
      #main
        img(src="/img/icon.png")
        ul
          li: a(href="/introduction/") Introduction
          //li: a(href="/works/") Works
          li: a(href="/links/") Links
      #content.introduction
        h1 自己紹介
        p js周りたくさんいじってました。
        .interests
          h2 興味・関心
          ul
            li アルゴリズム
            li 法学
            li Unity
            li CryEngine
            li Xamarin
            li 自然言語処理
            li 暗号
            li 巨大数
            li デザイン/3Dモデリング
            li OS
            li コンパイラによる最適化
        .likes
          h2 趣味
          ul
            li 旅行
            li シミュレーションゲーム
            li タワーディフェンスゲーム
        .skills
          h2 今まで触ったプログラミング(/マークアップ)言語
          p 後ろのカッコは10段階での使った割合みたいなもの。
          ul
            li Java (1)
            li C/C++ (1)
            li Swift (1)
            li C# (1)
            li Go (3)
            li JavaScript (3)
            li TypeScript (6)
            li CoffeeScript (8)
            li Html (5)
            li Haml (7)
            li Pug(Jade) (6)
            li SCSS (8)
