@import '~ress'
@import '~highlight.js/styles/monokai'
@import '~katex/dist/katex.css'

//
html,
body
  height: 100%
  width: 100%

#root
  display: grid
  grid-template-columns: minmax(min-content, 20%) auto
  grid-template-rows: auto min-content
  min-height: 100%
  background: linear-gradient(#a9dfcd,#3db38c,#00422d)
  &> div
    display: contents
    &> main
      height: min-content

#navigator
  grid-row: 1
  grid-column: 1
  padding: 0.5em
  nav
    background-color: #eeeeee
    padding: 0.5em 1em
    ul
      list-style-type: none
      li
        color: #00422d
        font-size: 1.2rem
        text-decoration: none
        cursor: pointer
        &::after
          content: ""
          display: block
          width: 0
          border-bottom:
          style: solid
          width: 0.1em
          color: #055f2b
          transition: width 0.3s
        &:hover::after
          width: 100%
          transition: width 0.3s

      li + li
        margin-top: 0.2em

#router
  display: contents

main
  grid-row: 1
  grid-column: 2
  height: fit-content
  margin: 0.5em
  padding: 0.5em 1em
  background-color: #eeeeee

#footer
  grid-row: 2
  grid-column: 1/3
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  padding: 0.5em
  background-color: #343434
  color: #eeeeee
  font-size: 0.7rem
  a
    color: inherit

hr
  margin: 1em 0
  background-color: #ffffff
  border-top: 0.1em dotted #8c8b8b
ul.clover
  list-style: none
  li
    padding-left: 1em
    text-indent: -0.7em
    &::before
      content: "☘ "
      color: green

.card
  border: solid 0.05em #888888
  padding: 1em
  margin: 1em 0

.links
  li
    img
      height: 1.2em
      vertical-align: middle
      margin-right: 0.2em

.tags
  display: flex
  flex-direction: row
  flex-wrap: wrap
  .tag
    margin: 0.3em
    padding: 0 0.2em
    color: #333333
    background-color: #efefef
    border:
      style: solid
      width: 0.07em
      color: #cccccc
      radius: 0.3em
    a
      color: inherit
      text-decoration: none
      &:hover
        text-decoration: underline

#info
  .created
    text-align: right
    &::before
      content: "投稿: "
  .modified
    text-align: right
    &::before
      content: "編集: "
  .tags
    justify-content: flex-end

.md
  word-break: break-all
  img
    max-width: 100%

  .container
    margin: 0.5em 0
    padding: 0.2em 0.5em
    border:
      style: solid
      width: 0.05em
      radius: 0.5em
  .danger
    background-color: #ffcccc
    border-color: #ff9999
  .warn
    background-color: #fffccc
    border-color: #bfb740
  .info
    background-color: #d8ffcc
    border-color: #78d65c
  .success
    background-color: #ccf6ff
    border-color: #7dd4e8
