doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="./main.css")
    script(src="./main.js" defer)
    title Home - green.sapphi.red
  body
    #container
      #main
        img(src="./img/icon.png", alt="Click me")
        svg(viewBox="0 0 110 110")
          circle(cx="55" cy="55" r="50")
