doctype html
html(lang="ja")
  head
    link(rel="icon" type="image/png" href="/img/icon.png")
    link(rel="stylesheet" href="/main.css")
    script(src="/main.js" defer)
    style(type="text/css").
      html, body, #container { height: 100%; }
    title Home - green.sapphi.red
    // ここからOGP
    meta(name="description" content="翠のポートフォリオ。")
    meta(property="og:title" content="Home")
    meta(property="og:description" content="翠のポートフォリオ。")
    meta(property="og:url" content="https://green.sapphi.red/")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@sapphi_red")
    meta(name="og:img" content="https://green.sapphi.red/img/icon.png")
  body
    #container.start
      #main
        img(src="/img/icon.png")
        svg(viewBox="0 0 110 110")
          circle(cx="55" cy="55" r="50")
        ul
          li: a(href="/introduction/") Introduction
          //li: a(href="/works/") Works
          li: a(href="/links/") Links
