- var title = "Home";
doctype html
html(lang="ja")
  head
    include /includes/_imports.pug
    style(type="text/css").
      html, body, #container { height: 100%; }
    include /includes/_ogp.pug
  body
    #container.start
      #main
        img(src="/img/icon.png")
        svg(viewBox="0 0 110 110")
          circle(cx="55" cy="55" r="50")
        ul
          li: a(href="/introduction/") Introduction
          //li: a(href="/works/") Works
          li: a(href="/links/") Links
    include /includes/_footer.pug
