* {
  box-sizing: border-box;
}

html, body, #container {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#a9dfcd, #3db38c, #00422d);
}

#container.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #main {
    position: relative;
    text-align: center;

    height: 40%;
    width: auto;
    @media (max-aspect-ratio: 2/5) {
      height: auto;
      width: 40%;
    }

    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    //clip-path: circle(); // androidでanimationがバグるのでコメントアウト
    padding: 10px;
    border-width: 0px;

    border-radius: 50% 50%;
    border-style: solid;

    border-color: #b0ffd1;
    transition: padding .5s, border-width .5s;

    &:hover:not(.focus) {
      padding: 5px;
      border-width: 5px;
      transition: padding .5s, border-width .5s;
    }

    animation: glow 5s infinite 3s;

    @keyframes glow {
      0% {
        filter: brightness(100%) contrast(100%);
      }
      20% {
        filter: brightness(110%) contrast(120%);
      }
      40% {
        filter: brightness(100%) contrast(100%);
      }
    }

    img {
      height: 100%;
      width: auto;
      @media (max-aspect-ratio: 2/5) {
        height: auto;
        width: 100%;
      }
      vertical-align: middle;
      border-radius: 50% 50%;
      pointer-events: none;
    }

    svg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: rotate(-90deg);

      circle {
        fill: transparent;
      }
    }
    &.focus {
      svg circle {
        stroke: #055f2b;
        stroke-width: 5px;
        animation: circle 1s;
      }
      @keyframes circle {
        0% { stroke-dasharray: 0 360; }
        99.9%,to { stroke-dasharray: 360 360; }
      }
    }

    ul {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        opacity: 0;
      }
    }
  }
}

#container.menu {
  display: flex;
  flex-direction: row;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  #main {
    padding: 20px;
    user-select: none;

    img {
      height: auto;
      width: 20%;

      cursor: pointer;
      border-radius: 50% 50%;
      border-style: solid;
      border-width: 2.5px;

      border-color: #055f2b;
      transition: all 1s;

      &:hover {
        border-color: #b0ffd1;
      }
    }

    svg {
      display: none;
    }

    ul {
      overflow: hidden;
      background: #eeeeee;
      transition: background .2s 1s;

      li {
        margin-bottom: 3px;
        list-style: none;
        opacity: 100;
        transition: opacity .2s 1s;

        a {
          display: inline-block;
          width: 100%;
          color: #00422d;
          text-decoration: none;
          font-size: 1.3rem;
        }

        &:after {
          content: "";
          display: block;
          width: 0;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: #055f2b;
          transition: width .3s;
        }
        &:hover:after {
          width: 100%;
          transition: width .3s;
        }
      }
    }

    &.open {
      ul {
        padding: 5px 20px;
        margin: 8px 4px;
        max-height: 999999px; // a big number
        transition: padding .2s, margin .2s, max-height .2s;
      }
    }

    &:not(.open) {
      ul {
        padding: 0;
        margin: 0;
        max-height: 0;
        transition: padding .2s, margin .2s, max-height .2s;
      }
    }
  }
}

#content {
  flex-grow: 1;
  margin: 30px 30px 30px 10px;
  padding: 10px 20px;
  background: #f6f6f6;

  @media (max-width: 700px) {
    margin: 0 20px 20px 20px;
  }

  &:not(.blog) div {
    border: solid 1px #888888;
    padding: 0 20px;
    margin: 20px 0;
  }
  &.blog .article .block {
    border: solid 1px #888888;
    padding: 0 20px;
    margin: 20px 0;
  }

  hr {
    background-color: #fff;
    border-top: 2px dotted #8c8b8b;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
   padding-left: 1em;
   text-indent: -.7em;
  }
  li:before {
    content: "☘ ";
    color: green;
  }

  &.blog {
    .article {
      padding: 20px 0;

      .highlight {
        margin: 5px 20px;
        .choma {
          padding: 5px;
        }
      }
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .tag {
      position: relative;
      margin: 5px;
      background: #EFEFEF;
      border-style: solid;
      border-width: 1px;
      border-color: #CCCCCC;
      border-radius: 3px;
      color: #333333;
      a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        width: 100%;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    > .tag-list{
      justify-content: flex-start;
    }

    #info {
      .date {
        text-align: right;
        margin: 0;
      }
      .tags {
        text-align: right;
      }
    }

    #prevnext {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      p {
        flex-grow: 1;
        margin: 0;
        word-break: break-word;
      }

      .prev {
        text-align: left;
        &::before {
          content: "<<"
        }
      }
      .next {
        text-align: right;
        &::after {
          content: ">>"
        }
      }
    }
  }

  &.links {
    ul {
      img {
        height: 1.2em;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background: #343434;
  color: #eeeeee;

  p {
    margin: 0;
    padding: 5px 10px;
    font-size: 0.7em;
  }

  .copyright {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .source {
    flex-grow: 1;
    text-align: right;
    a {
      color: inherit;
    }
  }
}
